<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=" >
            <section name="ARYA.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <ARYA.My.MySettings>
            <setting name="gcall" serializeAs="String">
                <value />
            </setting>
            <setting name="gpassword" serializeAs="String">
                <value />
            </setting>
            <setting name="check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value />
            </setting>
            <setting name="SVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="WebTest" serializeAs="String">
                <value>False</value>
            </setting>
        </ARYA.My.MySettings>
    </userSettings>
</configuration>